body{
    max-width: 1400px;
    margin: auto;
}
.postInfo{
    margin-top: 2%;
    border: 1px solid black;
}
.comments{
    display: flex;
    flex-wrap:wrap;
    gap: 1%;
}
.comments__comment{
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin: auto;
    margin-top: 1%;
}